---
layout: default
title: "AWS Course"
head: <link rel='stylesheet' href='/styles/insidercourse.css'>
---

<div class="container">
  <div class="logo course-logo-container">
    <img src="/assets/images/aws-logo.png" alt="AWS Logo">
  </div>
  <h1>AWS Course</h1>
  <p>Here are the lessons for this course:</p>
  <ul>
    {% for post in site.posts %}
      {% if post.path contains '_aws' %}
        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
